      <footer class="footer">
          <div class="container">   
            <div class="row"> 
                <div class="col-md-6 col-xs-12">
                    <p>Yelp Camp - Created by <a href="/">Tony Lanera</a></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul class="social-links">
                        <li><a href="https://www.linkedin.com/in/tonylanera" target="_blank">
                            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="auto" height="30" alt="View Tony Lanera LinkedIn profile" style="vertical-align:middle;" border="0"></a></li>
                        <li><a class="glyphicon glyphicon-envelope glyphicon-size" href="mailto:Tony@TonyLanera.com"></a></li>
                        <li><a class="glyphicon glyphicon-phone glyphicon-size" href="tel:206-930-0758"></a></li>
                        <li><a href="https://github.com/alkitony" target="_blank">
                            <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png" width="auto" height="30" alt="View Tony Lanera Github profile"></a></li>
                        <li><a class="glyphicon glyphicon-file glyphicon-size" href="/resume/TonyLaneraCSMResume.pdf"></a></li>
                    </ul>
                </div>
            </div>
          </div>
      </footer>
   </body>
</html>