<% include /partials/header %>

<h1>Please reset your password</h1>

<form action="/reset/<%= token %>" method="POST">
    <p>UserName: <%= user.username %></p>
    <p>Email   : <%= user.email %></p>
    <input type="password" name="password" placeholder="password">
    <button>Reset Password</button>
</form>

<% include /partials/footer %>